h1 {
    text-align: center;
}

#time-stamp {
    font-style: italic;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

div#Man004BL-counttable-div div.react-grid-Cell:nth-child(3) {
    text-align: right;
}

div#Man004TL-counttable-div div.react-grid-Cell:nth-child(3) {
    text-align: right;
}